<div class="login-container">
  <div class="login-page">
      <div class="form">
          <form class="register-form">
              <input type="text" placeholder="name" />
              <input type="password" placeholder="password" />
              <input type="text" placeholder="email address" />
              <button>create</button>
              <p class="message">Already registered?
                  <a href="#">Sign In</a>
              </p>
          </form>

          <form class="login-form" >
              <input type="email" name="usernames" [(ngModel)]="loginData.username" placeholder="username .." required/>
              <input type="password" name="passwords" [(ngModel)]="loginData.password" required />
              <button type="submit" (click)="login()">login</button>
              <p class="message">Not registered?
                  <a href="#">Create an account</a>
              </p>
          </form>
      </div>
  </div>
  </div>
